@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*,
*::before, 
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --sidebar-width: 20rem;
}

body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0;
    background-color: aquamarine;
    margin-left: var(--sidebar-width);
    height: 300px;
    padding: 1rem;
    /* box-shadow*/
    display: flex;
    flex-direction: column;
}

.header-top,
.header-bottom,
.notification-{
    display: flex;
    justify-content: space-between;
}

.avatar{
    width: 30%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    width: var(--sidebar-width);
    height: 100vh;
    border: 1px solid red;
    margin-top: -300px;
    padding: 2em 3em;
    overflow-x: hidden;
}

.sidebar-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    margin-bottom: 50px;
}

.sidebar-middle{
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .nav-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0;
}

.sidebar-top > img, 
.sidebar .nav-link > img{
    margin-right: 20px;
}